
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
}

body {
  background: #f5f7fa;
}

.search-box {
    display: flex;
    justify-self: flex-end;

    width: 30%;
    height: 42px;
    padding: 0 14px;
    margin: 12px 24px;

    border: 1px solid #dfe3e8;
    border-radius: 10px;
    background: #fff;

    input {
        width: 100%;

        border: none;
        outline: none;
        background: transparent;

        font-size: 14px;
        color: #1d2939;

        &::placeholder {
            color: #98a2b3;
        }
    }
}

.loading, .no-data {
  padding: 30px;
  text-align: center;
  color: #6b7280;
  font-size: 16px;
}